.pio
resources/images/private
resources/fonts/private
src/resources.h
src/defines_private.h
src/Faces/Private
src/MenuOptions/Private
src/Private


# vscode stuff
.vscode/*.json
!.vscode/*.example
!.vscode/extensions.json